<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-12">
      <h1>{{ bike?.manufacturer}}</h1>
      <span class="pull-left">
        <img
          [src]="bike?.url"
          alt="{{ bike?.manufacturer}}"
          class="img-responsive"
          style="max-height: 100px"
        />
      </span>
    </div>
    <br />
    <br />
    <br />
    <div class="col-sm-7"></div>
         <a class="btn btn-info pull-right" routerLinkActive="active" routerLink="edit">Edit</a>
        <a class="btn btn-danger pull-right" routerLinkActive="active" routerLink="/bikes" (click)="onDelete()">Delete</a>
  </div>
</div>
<div class="panel panel-default">
  <div layout="row" class="panel-body">
    <form class="form-horizontal">
      <div class="mx-auto">
        <h4>{{ "Model: " + bike?.model }}</h4>
        <h4>{{ "Terrain Type: " + bike?.terrainType }}</h4>
      </div>
      <div class="form-group">
         <app-bike-item
          *ngFor="let bikeEl of groupBikes"
          [bike]="bikeEl"
        >
        </app-bike-item>
      </div>
    </form>
  </div>
</div>
