<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-messages></app-messages>
      <app-documents></app-documents>
      <app-contacts></app-contacts> -->
    </div>
  </div>
</div>
<!--
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-messages *ngIf="loadedFeature === 'messages'"></app-messages>
      <app-documents *ngIf="loadedFeature === 'documents'"></app-documents>
      <app-contacts *ngIf="loadedFeature === 'contacts'"></app-contacts>
    </div>
  </div>
</div -->


<!-- <app-header></app-header>
<div class="container">
<app-contacts></app-contacts>
</div> -->
